<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/registration"></ion-back-button>
    </ion-buttons>
    <ion-title>Email Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-text>
          Please check your email and click on the link to verfiy your email
          address.
        </ion-text>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="registrationPg.openLoginPage()" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="authService.SendVerificationMail()" expand="block" fill="outline">
          Resend Verification Email
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
