<div class="profile">
  <ion-grid>
    <ion-row>
      <ion-col size="3" (click)="viewUser(user)">
        <ion-avatar>
          <ion-img [src]="user.photoURL"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="5">
        {{user.displayName}}
      </ion-col>
      <ion-col size="4">
        <div *ngIf="isFollowing; then unfollowButton else followButton">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ng-template #followButton class="unfollowClass">
  <ion-button (click)="toggleFollow()" value="new">Follow</ion-button>
</ng-template>

<ng-template #unfollowButton>
  <ion-button fill="outline" (click)="toggleFollow()">Unfollow</ion-button>
</ng-template>
