.recommend__recommendation__div {
  margin-bottom: 100px;
  width: 100%;
}

// .recommend__recommendation-grid {
//   display: flex;
//   align-items: flex-start;
//   margin-left: auto;
//   order: 2;
//   text-align: left;
//   padding: 10px;
//   width: 90vw;
//   font-size: 1.3em;
//   animation-delay: 0ms;
//   animation-duration: 600ms;

// }

.recommend__recommendation__user {
  // margin-right: 10px;
  // min-width: 100px;
  // max-width: 200px;
  margin: auto 0;
  padding: 0;
  max-width: fit-content;
}

.recommend__recommendation__user-image{
  width: 58px;
  height: 58px;
  max-width: 58px;
  border-radius: 50%;
  overflow: hidden;
}

.recommend__recommendation-box{
border: rgb(200, 199, 204) 1px solid;
max-width: fit-content;
padding: 10px;
border-radius: 16px;
// border-color:  var(--border-color, grey)
}



.chat__movie-container{
  // background-color:#1d6adc;
  // background:
  // linear-gradient(rgb(29, 106, 220),  rgba(0, 0, 0, 1));
  width: 100px;
  margin: 20px auto;
  // height: 300px;
}


.chat__movie-poster{
  margin: 0 auto;
}

// .recommend__recommendation-box__rating_col{
// }

.recommend__recommendation-box__rating{
  text-align: center;
  margin: 8px;
}


.form {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 10vw;
  background: rgba(255, 255, 255, 0.8);
  border: rgb(200, 199, 204) 1px solid;
  vertical-align: middle;
 }

.recommend__recommendation--text-area{
  background-color: var(--ion-text-color-light-grey);
  border-radius: 8px;
  width: 100%;
  --padding-top:  8px;
  --padding-bottom:  8px;
  --padding-end:  8px;
  --padding-start:  8px;
}

.recommend__recommendation--send-button{
  // margin: auto;
  margin: auto 0;
  color:#1d6adc;
  padding-left: 4%;
}
