<ion-header>
  <ion-toolbar>
    <ion-title>The Chat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ng-container *ngIf="chat$ | async as chat">

    <div class="chat">

      <ion-grid class="msg" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
        <ion-row>
          <ion-col class="user" size="4" offset="3">
            <ion-img class="user-profile__image" [src]="msg.user?.photoURL"></ion-img>
          </ion-col>
        </ion-row>

        <p>{{ msg.content }}</p>
        <p>{{ msg.movieid }}</p>
        <!-- <div class="chat__movie-container"> -->
        <img class="chat__movie-poster" [src]="msg.moviePoster">
        <!-- </div> -->
      </ion-grid>
    </div>

    <div class="form">
      <ion-input [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)">
      </ion-input>
      <ion-button (click)="submit(chat.id)">Send</ion-button>

    </div>
  </ng-container>
</ion-content>
