<ion-header>
  <ion-toolbar>
    <ion-title>{{movieToReviewTitle}}</ion-title>
    <ion-icon class="modal-close-button" (click)="close()" name="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<!-- <h1 class="text-primary">
  Angular 10 Start Rating Example
</h1>
<ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="false"></ngb-rating>
<p>Rate: </p> -->
<ion-content>


  <ion-grid>
    <ion-row>
      <div class="review__movie-container">
        <img class="review__movie-poster" [src]="movieToReviewPoster">
      </div>
    </ion-row>
    <ion-row>
      <!-- Textarea in an item with a placeholder -->
      <ion-col>
        <!-- <ion-input type="text" class="review-content__text-area" [(ngModel)]="inputtedReview"  -->
        <ion-input type="text" class="review-content__text-area" [(ngModel)]="inputtedReview"
          (ionChange)="changeing($event.target.value)" placeholder="Enter your review here..."></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Textarea in an item with a placeholder -->
        <ion-label class="review-content__text-area__label">Tags:</ion-label>
        <ion-textarea class="review-content__text-area" [(ngModel)]="inputtedTags" placeholder="Enter tags here...">
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <ion-button class="review-content__submit-button" (click)="submitReview()">Sumbit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
