<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <span *ngIf="showFollowing; then followingTitle else followersTitle"></span>
    <ng-template #followingTitle>
      <ion-title>Following</ion-title>
    </ng-template>
    <ng-template #followersTitle>
      <ion-title>Followers</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content>
  <span *ngIf="showFollowing; then followingDiv else followersDiv"></span>
  <ng-template #followingDiv>
    <div *ngFor="let user of inUserFollowingArrObj">
      <app-user-profile-card [user]="user.data"></app-user-profile-card>
    </div>
  </ng-template>
  <ng-template #followersDiv>
    <div *ngFor="let user of inUserFollowersArrObj">
      <app-user-profile-card [user]="user.data"></app-user-profile-card>
    </div>
  </ng-template>
</ion-content>
