<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <span *ngIf="showFollowing; then followingTitle else followersTitle"></span>
    <ng-template #followingTitle>
      <ion-title>Following</ion-title>
    </ng-template>
    <ng-template #followersTitle>
      <ion-title>Followers</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content>
  <span *ngIf="showFollowing; then followingDiv else followersDiv"></span>
  <ng-template #followingDiv>
    <div *ngFor="let user of inUserFollowingArrObj | async">
      <app-user-profile-card [user]="user.data" [closeModal]=false></app-user-profile-card>
    </div>
  </ng-template>
  <ng-template #followersDiv>
    <div *ngFor="let user of inUserFollowersArrObj | async">
      <app-user-profile-card [user]="user.data" [closeModal]=false></app-user-profile-card>
    </div>
  </ng-template>


  <!----------------  TRIAL STUFF  --------------- -->
  <!-- <div>
    <ul>
      <li *ngFor="let user of usersList$ | async">
        <a>{{ user.id }} - {{ user.displayName }} List </a>
      </li>
    </ul>
  </div> -->

</ion-content>
