<ion-header>
  <ion-toolbar>
    <ion-title> {{currentUser.displayName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    UserID: {{ currentUser.uid }}
    <!-- {{data.property}} -->
  </div>
  <img src="{{currentUser.photoURL}}">

  <ion-button (click)="authService.SignOut()">
    Logout
  </ion-button>
  <ion-button (click)="authService.googleSignOut()">
    Google Logout
  </ion-button>

  <div class="profile">
    <!-- <img [src]="user.img" width="50px"> -->
    {{currentUser.displayName}} has <strong>{{followerCount}}</strong> followers
    <div *ngIf="isFollowing; then unfollowButton else followButton">
      button renders here
    </div>
  </div>

  <ng-template #followButton>
    <button class="button is-info" (click)="toggleFollow()">Follow</button>
  </ng-template>

  <ng-template #unfollowButton>
    <button class="button is-warning" (click)="toggleFollow()">Unfollow</button>
  </ng-template>

</ion-content>