ion-searchbar {
  margin: 14% 0 2% 0;
  padding: 10px;
  border-radius: 30px;
  --font-size: 3em;
}
// For the carosuel
.carousel {
  white-space: nowrap;
  //   width: 100%;
  overflow-x: auto !important;
  //   margin-bottom: 20px;
  //   --overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ion-pad {
  padding-bottom: 10px;
  margin-left: 6px;
}
.movie-thumb {
  //   height: 141px;
  width: 105px;
  margin-right: 16px;
}

.category-title {
  // color: #092042;
  // color: var(--ion-color-secondary, black);
  margin-left: 10px;
  font-weight: 600;
  margin-bottom: -1px;
  font-weight: bold;
  //   padding-top: 10px;
}

.search-text {
  //   margin-top: -15px;
  margin-bottom: 10px;
  margin-left: 16px;
  margin-top: 16px;
  font-weight: bold;
  font-size: large;
}
.movie-search-result {
  //   margin-left: 8px;
  border-bottom: 5px;
  border-bottom: 2px solid #ededed;
  left: 0;
}
.movie-search-result ion-grid {
  margin-left: 8px;
}
// .Search-results {
//     &::-webkit-scrollbar {
//       display: none;
//     }
// }
