<ion-header [translucent]="true">
  <ion-toolbar class="tool-bar-smaller">
    <!-- <ion-title> FlickMate </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FlickMate</ion-title>
      <ion-button (click)="getAllUsers()" slot="end" fill="clear">
        <ion-icon name="person-add" class="add-friends-buttons-home"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <h3 class="home-tab__rating-title">Rating Differences</h3>
  <div *ngIf="ratingDiff$ | async; else noRatings; let people;" class="home-tab__rating-differences--div">
    <ion-grid class="centre-div">
      <span *ngFor="let person of ratingsArr  |  slice:0:3">
        <ion-row>
          <ion-col size="2" class="user-profile__image--col--rating">
            <img [src]="person.photoURL" class="user-profile__image">
          </ion-col>
          <ion-col size="7" class="home-tab__ratings-diff-col">
            <h4 class="home-tab__ratings-diff-name">{{person.displayName}}</h4>
          </ion-col>
          <ion-col size="2">
            <h4 class="home-tab__rating-score">{{person.combinedRating}}</h4>
          </ion-col>
        </ion-row>
      </span>
      <ion-row>
        <ion-col>
          <u (click)="openRatingDiff()">See all</u>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #noRatings>
    <h5>No ratings differences available yet, rate back on some movies to see how your rating pattern compares with
      others!</h5>
  </ng-template>

  <!-- <h3 class="ion-text-center"> Recommendations</h3> -->
  <h3 class="home-tab__recs-title"> Recommendations:</h3>
  <ion-segment [(ngModel)]="segmentModel" class="home-tab__rating-differences--segment">
    <ion-segment-button (click)="getCategory()" value="received">
      Received
    </ion-segment-button>
    <ion-segment-button (click)="getCategory()" value="sent">
      Sent
    </ion-segment-button>
  </ion-segment>


  <div *ngIf="segmentModel === 'received'" class="centre-div">
    <!-- This is the received segment -->
    <div *ngIf=" auth.user$ | async as user">
      <!-- <h3 style="padding-left: 16px;">Your Recommendations</h3> -->
      <div *ngFor="let rec of receivedRecommendations$ | async">
        <ion-item [routerLink]="'/chats/' + rec.id">
          <ion-grid>
            <ion-row>
              <ion-col size="2" class="user-profile__image--col">
                <img class="user-profile__image user-profile__image--larger" [src]=" rec.senderData?.photoURL">
              </ion-col>
              <ion-col size="9">
                <ion-row>
                  <h4 class="home-tab__ion-item__recommender-name">{{ rec.senderData?.displayName }} </h4>
                </ion-row>
                <ion-row>
                  <p class="home-tab__ion-item__recommedations-no" *ngIf="rec.count==1">{{ rec.count}} Recommendation
                  </p>
                  <p class="home-tab__ion-item__recommedations-no" *ngIf="rec.count!==1">{{ rec.count}} Recommendations
                  </p>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </div>
  </div>


  <div *ngIf="segmentModel === 'sent'" class="ion-segment__content">
    <!-- This is the sent segment -->
    <div *ngIf=" auth.user$ | async as user">
      <!-- <h3 style="padding-left: 16px;">Your Recommendations</h3> -->
      <div *ngFor="let rec of sentRecommendations$ | async">
        <ion-item [routerLink]="'/chats/' + rec.id" class="home-tab__ion-item">
          <ion-grid>
            <ion-row>
              <ion-col size="2" class="user-profile__image--col">
                <img class="user-profile__image" [src]=" rec.recipientsData[0].photoURL">
              </ion-col>
              <ion-col size="8">
                <ion-row>
                  <h4 class="home-tab__ion-item__recommender-name">{{ rec.recipientsData[0].displayName }} </h4>
                </ion-row>
                <ion-row>
                  <p class="home-tab__ion-item__recommedations-no" *ngIf="rec.count==1">{{ rec.count}} Recommendation
                  </p>
                  <p class="home-tab__ion-item__recommedations-no" *ngIf="rec.count!==1">{{ rec.count}} Recommendations
                  </p>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </div>
  </div>
