<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="segmentModel">
    <ion-segment-button (click)="getCategory()" value="received">
      Received
    </ion-segment-button>
    <ion-segment-button (click)="getCategory()" value="sent">
      Sent
    </ion-segment-button>
  </ion-segment>



  <div *ngIf="segmentModel === 'received'">
    <!-- This is the received segment -->
    <div *ngIf=" auth.user$ | async as user">
      <!-- <h3 style="padding-left: 16px;">Your Recommendations</h3> -->
      <div *ngFor="let rec of receivedRecommendations$ | async">
        <ion-item [routerLink]="'/chats/' + rec.id" lines="full">
          <ion-grid>
            <ion-row>
              <ion-col size="2" class="user-profile__image--col">
                <img class="user-profile__image" [src]=" rec.recipientsData[0].photoURL">
              </ion-col>
              <ion-col size="9">
                <ion-row>
                  <h4 class="home-tab__ion-item__recommender-name">{{ rec.recipientsData[0].displayName }} </h4>
                </ion-row>
                <ion-row>
                  <p class="home-tab__ion-item__recommedations-no"> {{ rec.recommendations?.length }}
                    Recommendations</p>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </div>
  </div>
  <div *ngIf="segmentModel === 'sent'">
    <!-- This is the sent segment -->
    <div *ngIf=" auth.user$ | async as user">
      <!-- <h3 style="padding-left: 16px;">Your Recommendations</h3> -->
      <div *ngFor="let rec of sentRecommendations$ | async">
        <ion-item [routerLink]="'/chats/' + rec.id" lines="full" class="home-tab__ion-item">
          <ion-grid>
            <ion-row>
              <ion-col size="2" class="user-profile__image--col">
                <img class="user-profile__image" [src]=" rec.recipientsData[0].photoURL">
              </ion-col>
              <ion-col size="9">
                <ion-row>
                  <h4 class="home-tab__ion-item__recommender-name">{{ rec.recipientsData[0].displayName }} </h4>
                </ion-row>
                <ion-row>
                  <p class="home-tab__ion-item__recommedations-no"> {{ rec.recommendations?.length }}
                    Recommendations</p>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
