img {
  border-radius: 50%;
  display: block;
  margin: auto;
}

button {
  margin: 10px;
}

ion-grid{
  padding: 0;
}
.home-tab__ion-item__recommender-name{
  color: var(--ion-color-primary, black);
  padding-left: 0;
  margin-left: 0;
}

.item-nativ{
  padding-left: 0,;
}

.home-tab__ion-item__recommedations-no{
}
