ion-title{
  // color: var(--ion-color-primary, black);
  color: white;
}

ion-toolbar{
  background: var(--ion-color-primary, black) !important;
}

.tool-bar-smaller{
  height: 60px !important;

}

ion-toolbar{
  --background: var(--ion-color-primary, black) !important;
  margin: auto 0;
  display: flex;
  justify-content: center;
}

.centre-div{
  margin: 0 auto;
}

img {
  border-radius: 50%;
  display: block;
  margin: auto;
}

h5{
  margin: 40px 20px;
  margin-top: 0;
}

ion-button {
  margin: 0;
  padding: 0;
  height: 60px;
}

ion-grid{
  padding: 0;
}

ion-col{
  --padding: 0;
  margin: 0 ;
}

 a {
   padding-inline-start: 0;
}

u{
  display: flex;
  justify-content: space-evenly;
}

.add-friends-buttons-home{
  float: right;
  margin: 20px 0;
  // margin-right: 16px;
  font-size: 30px;
  // vertical-align: middle;
  // line-height: 51px;
  color: var(--ion-color-primary, black);
  border-radius: 30px;
  padding: 10px;
  background-color: var(--ion-text-color-light-grey, grey);
}

.item-native {
   padding-inline-start: 0;
}

.home-tab__rating-differences--div{
  margin:  0;
  margin-bottom: 40px;
}

.home-tab__rating-differences--segment{
  margin-top: 0;
  // margin: 0 20px;
  width: 90%;
  margin-bottom: 10px;
  // transform: translateX(-40px);
}

.home-tab__rating-title, .home-tab__recs-title{
  padding-left: 20px;
  font-size: 22px;
  font-weight: bold;
}

.home-tab__rating-title{
  margin-top: 40px;
}

.home-tab__ratings-diff-col{
  padding: 0;
}

.home-tab__ratings-diff-name{
  padding-left: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.home-tab__ion-item__recommender-name{
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 2px;
  font-size: 18px;
}

.user-profile__image--col--rating{
  // margin: auto auto;
  margin-right: 20px;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 8px;
}

.user-profile__image--col{
  margin: auto;
  margin-right: 20px;
  padding: 0;
  margin-left: 0;
}

.user-profile__image{
  width: 50px;
  height: 50px;
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-profile__image--larger{
  width: 60px;
  height: 60px;
  max-width: 60px;
}

.item-nativ{
  padding-left: 0,;
}

.home-tab__ion-item__recommedations-no{
  color: var(--ion-text-color-grey, black);
  font-size: 16px;
}

.home-tab__rating-score{
  font-weight: bold;
  margin: 12px 0;
  color: var(--ion-color-primary, black);
  font-size: 22px;

}
