<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="login">
    <div *ngIf=" auth.user$ | async as user">
      <!-- <img [src]="user.photoURL" width="50px">
      <p>
        <span class="tag is-dark">{{ user.displayName }}</span>
        <br>
        <span class="tag is-light">{{ user.uid }}</span>
      </p> -->

      <!-- <ion-button class="button" routerLink="/chats/9kOUuXQVZqSbPjAHJ8Ab">Join Mega Chat 🎪</ion-button> -->
      <ion-button class="button is-info" (click)="chatsService.create()">New Chat</ion-button>


      <h3>Chats</h3>

      <ul>
        <li *ngFor="let chat of userChats$ | async">
          <a [routerLink]="'/chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
        </li>
      </ul>
    </div>

  </div>
</ion-content>
