<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="login-form">
    <ion-item>
      <ion-input type="email" #email required placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" #password required placeholder="Password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
