<!-- <div *ngIf="!hideRateDiff" class="user-profile__rating-diff">
  <h3 class="user-profile__rating-diff--text">Rating Difference {{combinedTotDiff}}</h3>
</div> -->
<ion-segment [(ngModel)]="segmentCategory">
  <ion-segment-button (click)="getTop10()" value="top10">
    Top 10
  </ion-segment-button>
  <ion-segment-button (click)="getWatchlist()" value="watchlist">
    Watchlist
  </ion-segment-button>
  <ion-segment-button (click)="getreceivedRecs()" value="received" class="user-profile__rec-segment"
    *ngIf="!hideRecTabs">
    Received
  </ion-segment-button>
  <ion-segment-button (click)="getSentRecs()" value="sent" class="user-profile__rec-segment" *ngIf="!hideRecTabs">
    Sent
  </ion-segment-button>
</ion-segment>

<!-- <ion-list>
  <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">
    <ion-item *ngFor="let item of listItems">
      <ion-label>
        {{item}}
      </ion-label>
      <ion-reorder></ion-reorder>
    </ion-item>
  </ion-reorder-group>
</ion-list>
<ion-list text-center>
  <ion-button (click)="getList()">
    Get Updated List
  </ion-button>
</ion-list> -->


<!-- ---------------------------------------- Top10 ------------------------------------------------------------------------------------------ -->


<div *ngIf="showTop10;">
  <span *ngIf="hideRecTabs">
    <div *ngIf="!showEditBtn; then editOn else editOff" class="user-profile__card__reorder--btn-div">
    </div>
  </span>

  <ng-template #editOn>
    <ion-button (click)="toggleReorder()" class="user-profile__card__reorder--btn" fill="outline">Edit</ion-button>
  </ng-template>
  <ng-template #editOff>
    <ion-button (click)="updateList()" class="user-profile__card__reorder--btn">Done</ion-button>
  </ng-template>

  <div *ngIf="top10$ | async; else noMovie; let movies;">
    <span class="user-profile__card__number__span">

      <div *ngFor="let item of top10Num">
        <ion-row class="user-profile__card__row--top">
          <ion-col class="user-profile__card__number__col"><strong>{{item}}</strong></ion-col>
        </ion-row>
      </div>
    </span>

    <span class="user-profile__card__details_span">
      <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="true" id="reorder">
        <div *ngFor="let movie of movies">
          <ion-reorder>
            <ion-grid class="user-profile__card__grid--top">
              <ion-row (click)="viewMovie(movie.movieId)" class="user-profile__card__row">
                <ion-col size="4">
                  <ion-img [src]="movie.moviePoster"> </ion-img>
                </ion-col>
                <ion-col size="6" class="user-profile__card__movie-title__col">
                  <h4>{{movie.movieTitle}}</h4>
                  <p class="ion-margin-bottom">{{movie.movieYear}}</p>
                </ion-col>
                <ion-col class="user-profile__card__reorder__col">
                  <ion-icon *ngIf="showEditBtn" size="2" name="reorder-three-outline"
                    class="user-profile__card__reorder"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-reorder>
        </div>
      </ion-reorder-group>

    </span>
  </div>
</div>
<!--
<div class="ui-grid-b" style="width: 50%; float: left">
  <div class="ui-block-a column">Header 1</div>
  <div class="ui-block-b column">Header 2</div>
  <div class="ui-block-c column">header 3</div>
</div>
<div class="ui-grid-b" style="width: 50%; float: left">
  <div class="ui-block-a column">Header 1</div>
  <div class="ui-block-b column">Header 2</div>
  <div class="ui-block-c column">header 3</div>
</div> -->


<!-- ---------------------------------------- Watchlist ------------------------------------------------------------------------------------------ -->

<div *ngIf="showWatchlist">
  <div *ngIf="watchlist$ | async; else noMovie; let movies">
    <span *ngFor="let movie of movies">
      <ion-item>
        <ion-grid class="user-profile__card__grid--w-list">
          <ion-row (click)="viewMovie(movie.movieId)" class="user-profile__card__row">
            <ion-col size="3">
              <ion-img [src]="movie.moviePoster"> </ion-img>
            </ion-col>
            <ion-col size="9" class="user-profile__card__movie-title__col">
              <h4>{{movie.movieTitle}}</h4>
              <p class="ion-margin-bottom">{{movie.movieYear}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </span>
  </div>
</div>

<!-- ---------------------------------------- Received ------------------------------------------------------------------------------------------ -->

<div *ngIf="showReceived">
  <div *ngIf="receivedRecs$ | async; else noneReceived; let recs">
    <div class="user-profile__rating-diff">
      <h3 class="user-profile__rating-diff--text">Rating Difference {{combinedTotDiff}}</h3>
    </div>
    <ion-grid class="user-profile__recommendations--label--grid">
      <ion-row class="user-profile__recommendations--label--row">
        <ion-col size="4" offset="8">
          <h6 class="user-profile__recommendations--label--heading"> Ratings</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2" offset="8">
          <h6 class="user-profile__recommendations--label"> {{inputtedUser.displayName}}</h6>
        </ion-col>
        <ion-col size="2">
          <h6 class="user-profile__recommendations--label"> Yours</h6>
        </ion-col>
      </ion-row>
    </ion-grid>

    <span *ngFor="let rec of recs">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-img [src]="rec.moviePoster"> </ion-img>
            </ion-col>
            <ion-col size="5" class="user-profile__card__movie-title__col">
              <h2 class="ion-margin-bottom"> {{rec.movieTitle}}</h2>
            </ion-col>
            <ion-col size="2" class="user-profile__card__movie-title__col">
              <h2 class="ion-margin-bottom"> {{rec.senderRating}}</h2>
            </ion-col>
            <ion-col size="2" class="user-profile__card__movie-title__col">
              <h2 class="ion-margin-bottom"> {{rec.rateBack}}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </span>
  </div>
</div>

<!-- ---------------------------------------- Sent ------------------------------------------------------------------------------------------ -->

<div *ngIf="showSent">
  <!-- <ion-item> -->
  <div *ngIf="sentRecs$ | async; else noneSent; let recs">
    <div class="user-profile__rating-diff">
      <h3 class="user-profile__rating-diff--text">Rating Difference {{combinedTotDiff}}</h3>
    </div>
    <ion-grid class="user-profile__recommendations--label--grid">
      <ion-row class="user-profile__recommendations--label--row">
        <ion-col size="4" offset="8">
          <h6 class="user-profile__recommendations--label--heading"> Ratings</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2" offset="8">
          <h6 class="user-profile__recommendations--label"> {{inputtedUser.displayName}}</h6>
        </ion-col>
        <ion-col size="2">
          <h6 class="user-profile__recommendations--label"> Yours</h6>
        </ion-col>
      </ion-row>
    </ion-grid>

    <span *ngFor="let rec of recs">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-img [src]="rec.moviePoster"> </ion-img>
            </ion-col>
            <ion-col size="5" class="user-profile__card__movie-title__col">
              <h2 class="ion-margin-bottom">{{rec.movieTitle}}</h2>
            </ion-col>
            <ion-col size="2" class="user-profile__card__movie-title__col">
              <h2 class="ion-margin-bottom"> {{rec.rateBack}}</h2>
            </ion-col>
            <ion-col size="2" class="user-profile__card__movie-title__col">
              <h2 class="ion-margin-bottom"> {{rec.senderRating}}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </span>
    <!-- </ion-item> -->
  </div>
</div>

<ng-template #noneReceived>
  <div class="user-profile__card__noMovie">
    <p class="user-profile__card__noMovie--bottom-text">You have not received any recommendations to this person</p>
  </div>
</ng-template>
<ng-template #noneSent>
  <div class="user-profile__card__noMovie">
    <p class="user-profile__card__noMovie--bottom-text"> You have not sent any recommendations to this person
    </p>
  </div>
</ng-template>

<ng-template #noMovie>
  <div class="user-profile__card__noMovie" *ngIf="hideRecTabs">
    <h3 class="user-profile__card__noMovie--top-text">No movies</h3>
    <img class="user-profile__card__noMovie--img" src="assets/vectors/clapperboard-film-outline_.jpg"
      alt="Text Alternative">
    <p class="user-profile__card__noMovie--bottom-text">Add new movies to this list by searching for a movie in the
      search tab</p>
  </div>
  <div class="user-profile__card__noMovie" *ngIf="!hideRecTabs">
    <h3 class="user-profile__card__noMovie--top-text">No movies</h3>
    <img class="user-profile__card__noMovie--img" src="assets/vectors/clapperboard-film-outline_.jpg"
      alt="Text Alternative">
  </div>
</ng-template>
