<ion-row>
  <ion-col size="3" inset="3">
    Following | <strong>{{followingCount}}</strong>
  </ion-col>
  <ion-col size="3">
    Followers | <strong>{{followerCount}}</strong>
  </ion-col>
</ion-row>
<ion-segment class="ion-margin-top" [(ngModel)]="segmentCategory">
  <ion-segment-button (click)="getCategory()" value="top10">
    Top 10
  </ion-segment-button>
  <ion-segment-button (click)="getCategory()" value="watchlist">
    Watchlist
  </ion-segment-button>
  <ion-segment-button (click)="getCategory()" value="ratings">
    Ratings
  </ion-segment-button>
  <ion-segment-button (click)="getCategory()" value="lists">
    Lists
  </ion-segment-button>
</ion-segment>

<ion-card>
  <ion-card-content *ngIf="showTop10">
    <ion-list *ngFor="let movie of profileContent.top10; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="2"><strong>{{i+1}}</strong></ion-col>
          <ion-col size="2">
            <ion-img [src]="movie.poster"> </ion-img>
          </ion-col>
          <ion-col size="8">
            <h2 class="ion-margin-bottom">{{movie.title}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card-content>
  <ion-card-content *ngIf="showWatchlist">
    <ion-list *ngFor="let movie of profileContent.watchlist; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="2"><strong>{{i+1}}</strong></ion-col>
          <ion-col size="2">
            <ion-img [src]="movie.poster"> </ion-img>
          </ion-col>
          <ion-col size="8">
            <h2 class="ion-margin-bottom">{{movie.title}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card-content>
  <ion-card-content *ngIf="showRatings">
    <ion-list *ngFor="let movie of profileContent.ratings; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="2"><strong>{{i+1}}</strong></ion-col>
          <ion-col size="2">
            <ion-img [src]="movie.poster"> </ion-img>
          </ion-col>
          <ion-col size="8">
            <h2 class="ion-margin-bottom">{{movie.title}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card-content>
  <ion-card-content *ngIf="showLists">
    <ion-list *ngFor="let movie of profileContent.lists; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="2"><strong>{{i+1}}</strong></ion-col>
          <ion-col size="2">
            <ion-img [src]="movie.poster"> </ion-img>
          </ion-col>
          <ion-col size="8">
            <h2 class="ion-margin-bottom">{{movie.title}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card-content>
</ion-card>
