// ion-segment{
//   // margin-top: 16px;
//   // padding: 10px;
//   width: 95%;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 16px;
//   border-radius: 32px;
// }

// ion-segment-button{
// --border-radius: 32px;
// padding: 6px;
// font-size: 1em;

// }
p{
  font-size: 16px;
  color: var(--ion-text-color-grey, grey);
}

div{
  width: 95%;
  margin: 16px auto 16px auto;
}

ion-item{
  float: left;
  border-bottom: var(--ion-text-color-light-grey) solid 0.5px;
}

.user-profile__card__grid--top{
  padding: 0;
}

.user-profile__card__grid--w-list{
  padding: 20px 0;
}

ion-col{
  padding: 0;
}

.user-profile__rating-diff{
  color: var(--ion-color-primary, black);
  background-color: var(--ion-text-color-light-grey, grey);
  padding: 0;
  padding:  4px 16px;
  border-radius: 32px;
  text-align: center;
  width: fit-content;
}

.user-profile__rating-diff--text{
  margin: 2px;
}

// .user-profile__rec-segment{
//   // --border-radius: 32px;
//   // padding: 3px;
//   // font-size: 12px;
// }

.user-profile__card__number__col{
  margin-top: auto;
  margin-right: 16px;
  margin-bottom: auto;
  font-size: 22px;
  // max-width: fit-content;
  padding: auto auto;
  color: var(--ion-color-primary, black);
  padding: 0;
}

.user-profile__card__number__span{
  width: 20%;
  float: left;
  text-align: center;
}

.user-profile__card__details_span{
  width: 80%;
  float: left;
  // padding: 20px;
}

.user-profile__card__movie-poster__col{
  margin-right: 0;
}

.user-profile__card__reorder--btn{
  width: 20%;
  display: block;
  height: 30px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 30px;
}

.user-profile__card__row--top{
height: 140px;
margin: auto;
}

.user-profile__card__reorder__col{
margin: auto;
}

.user-profile__card__reorder{
  color: var(--ion-color-primary, black);
  font-size: 2em;
}

.user-profile__card__movie-poster{
  width: 94px;
}

.user-profile__card__movie-title__col{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 22px;
  padding-inline-start: 20px;
}

.user-profile__card__movie-title__col ion-text{
  color: var(--ion-text-color-main, black);
  font-size: 18px;
  padding-left: 10px;
}

.user-profile__card__noMovie{
  margin: auto;
  height: 80vh;
  text-align: center;
  margin-top: 20%;
}

.user-profile__card__noMovie--img{
  width: 40%;
}

.user-profile__card__noMovie--bottom-text{
  width: 60%;
  margin: auto;
  color: var(--ion-text-color-grey, grey);
}

.user-profile__recommendations--label--grid{
  border-bottom: var(--ion-text-color-light-grey) solid 2px;

}

.user-profile__recommendations--label--row{
  text-align: center;
}

.user-profile__recommendations--label--heading{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.user-profile__recommendations--label{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}



