<ion-segment [(ngModel)]="segmentCategory">
  <ion-segment-button (click)="getCategory()" value="top10">
    Top 10
  </ion-segment-button>
  <ion-segment-button (click)="getCategory()" value="watchlist">
    Watchlist
  </ion-segment-button>
  <ion-segment-button (click)="getCategory()" value="recommendations" class="user-profile__rec-segment">
    Recommend
  </ion-segment-button>
  <!-- <ion-segment-button (click)="getCategory()" value="ratings">
    Ratings
  </ion-segment-button> -->
</ion-segment>

<!-- <ion-card> -->
<ion-card-content *ngIf="showTop10">
  <ion-item *ngFor="let movie of profileContent.top10; let i = index" class="ion-align-items-end" lines="none">
    <ion-grid>
      <ion-row (click)="viewMovie(movie.ID)" class="user-profile__card__row">
        <ion-col class="user-profile__card__number__col"><strong>{{i+1}}</strong></ion-col>
        <ion-col class="user-profile__card__movie-poster__col">
          <ion-img class="user-profile__card__movie-poster" [src]="movie.poster"></ion-img>
        </ion-col>
        <ion-col class="user-profile__card__movie-title__col">
          <!-- <ion-title>Hey</ion-title> -->
          <!-- <ion-card-title class="ion-margin-bottom"></ion-card-title> -->
          <ion-text>{{movie.title}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-card-content>
<ion-card-content *ngIf="showWatchlist">
  <ion-list *ngFor="let movie of profileContent.watchlist; let i = index">
    <ion-grid>
      <ion-row (click)="viewMovie(movie.ID)" class="user-profile__card__row">
        <ion-col size="3">
          <ion-img [src]="movie.poster"> </ion-img>
        </ion-col>
        <ion-col size="9" class="user-profile__card__movie-title__col">
          <h2 class="ion-margin-bottom">{{movie.title}}</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-card-content>
<ion-card-content *ngIf="showRecommendations">
  <ion-list *ngFor="let movie of profileContent.recommendations; let i = index">
    <ion-grid>
      <ion-row (click)="viewMovie(movie.ID)" class="user-profile__card__row">
        <ion-col size="3">
          <ion-img [src]="movie.poster"> </ion-img>
        </ion-col>
        <ion-col size="9" class="user-profile__card__movie-title__col">
          <h2 class="ion-margin-bottom">{{movie.title}}</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-card-content>
<ion-card-content *ngIf="showRatings">
  <ion-list *ngFor="let movie of profileContent.ratings; let i = index">
    <ion-grid>
      <ion-row (click)="viewMovie(movie.ID)" class="user-profile__card__row">
        <ion-col size="3">
          <ion-img [src]="movie.poster"> </ion-img>
        </ion-col>
        <ion-col size="9" class="user-profile__card__movie-title__col">
          <h2 class="ion-margin-bottom">{{movie.title}}</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-card-content>

<!-- </ion-card> -->
