ion-title{
  color: var(--ion-color-primary, black);
  font-size: 20px;
}

.centre-div{
  margin: 0 auto;
}

img {
  border-radius: 50%;
  display: block;
  margin: auto;
}

button {
  margin: 10px;
}

ion-grid{
  padding: 0;
}

 a {
   padding-inline-start: 0;
}

.item-native {
   padding-inline-start: 0;
}

.home-tab__rating-differences--div{
  margin: 30px 0;
  margin-bottom: 50px;
}

.home-tab__rating-title{
  padding-left: 20px;
  font-size: 26px;
  font-weight: bold;
  color: var(--ion-color-tertiary, black);
}

.home-tab__ratings-diff-col{
  padding: 0;
}

.home-tab__ratings-diff-name{
  padding-left: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.user-profile__image--col--rating{
  // margin: auto auto;
  margin-right: 30px;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 8px;
}

.user-profile__image--col{
  margin: auto;
  margin-right: 30px;
  padding: 0;
  margin-left: 0;
}

.user-profile__image{
  width: 58px;
  height: 58px;
  max-width: 58px;
  border-radius: 50%;
  overflow: hidden;
}

.item-nativ{
  padding-left: 0,;
}

.home-tab__ion-item__recommedations-no, .home-tab__rating-score{
  color: var(--ion-color-primary, black);
}

.home-tab__rating-score{
  font-weight: bold;
  margin: 16px 0;
}
