<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movieDetails.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="top-div">
    <img class="top-div__poster" src="{{movieDetails.posterPath}}" />
    <img class="top-div__background" src="{{movieDetails.backdropPath}}" />
    <div class="top-div__facts">
      <div class="top-div__fact">{{movieDetails.releaseDate | slice:0:4}}</div>
      <div class="top-div__fact">{{movieDetails.movieGenre1}}, {{movieDetails.movieGenre2}}</div>
      <div class="top-div__fact">{{movieDetails.runtime}}</div>
    </div>
    <div *ngIf="movieDetails.imdbRating" class="top-div__imdb">
      <img class="top-div__imdb__image" src="../../../assets/imdb_logo.svg">
      <div class="top-div__imdb__rating" value=" - ">{{movieDetails.imdbRating}}</div>
    </div>
    <div class="top-div__buttons">
      <ion-button class="top-div__button" (click)="openReviewModal()">
        <ion-icon name="star-outline" class="top-div__button--rate-icon"></ion-icon>
        Rate
      </ion-button>
      <ion-button class="top-div__button">
        <ion-icon name="add"></ion-icon>
        Watchlist
      </ion-button>
      <!-- <ion-button class="top-div__button">Recommend</ion-button> -->
    </div>

  </div>
  <div>
    <ion-segment mode="ios" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="info">
        <ion-label>Info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reviews">
        <ion-label>Reviews</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="segmentModel === 'info'" class="bottom-div">
      <h1>Overview</h1>
      {{movieDetails.overview}}
      <h1>Available On</h1>
      <ion-text [hidden]="hideAvailabilityMessage">Not yet available in your chosen country</ion-text>
      <div class="bottom-div__available-on" *ngFor="let item of providersFlatrateArr.flatrate">
        <img class="bottom-div__available-on--image" src="{{logoUrl}}{{item.logo_path}}" />
      </div>
      <h2>Cast</h2>
      <ion-text animated style="width: 50%" [hidden]="hideCastMessage">Sorry, there is no information regarding cast
        members of this movie</ion-text>


      <div class="bottom-div__cast__carousel">
        <div class="bottom-div__cast--item" *ngFor="let item of movieDetails.castArray">
          <img class="bottom-div__cast--image" src="{{profileUrl}}{{item.profile_path}}">
          <div>
            <h6 class="bottom-div__cast--actor">{{item.name}}</h6>
          </div>
          <div class="div-word-break">
            <h6 class="bottom-div__cast--character"> {{item.character}}</h6>
          </div>
        </div>
      </div>

      <h1>Trailer</h1>
      <img style="width: 100%" src="{{movieTrailerThumb}}" alt="Movie Trailer Thumbnail" />
    </div>


    <div *ngIf="segmentModel === 'reviews'">
      <ion-card *ngFor="let review of returnedReview" class="reviews__card">
        <ion-row class="reviews__card__row">
          <ion-col size="3" class="reviews__card__profile-image__col">
            <ion-img class="reviews__card__profile-image__img-tag" [src]="review.data.authorPhoto"
              alt="Profile Picture"></ion-img>
          </ion-col>
          <ion-col size="9" class="reviews__card__review-details">
            <h4 class="reviews__card__review-details__user-name">{{review.data.authorName}}</h4>
            <p class="reviews__card__review-details__date">{{review.reviewHowLongAgo}}</p>
          </ion-col>
        </ion-row>
        <ion-card-content class="reviews__card__card-content">
          {{review.data.content}}
          <!-- [{{review.id}}] -->
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
