
.movie-page__top {
    display: grid;
    // place-items: center;
    height: 500px;
    color: white;
    // font-weight: bold;
}

.movie-page__top__poster{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    height: 250px;
    // box-shadow: 0px 0px 1px 1px black;
}

.movie-page__top__background{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 500px;
    object-fit: cover; 
    filter: brightness(0.4);
    // filter: blur(0.5px);
    background-color:#1d6adc;
}

.movie-page__top__facts{
    text-align: center;
    margin-bottom: 0;
}

.movie-page__top__fact{
    display: inline;
}

.movie-page__top__fact ~ div:before{
    content:" • ";
}

.movie-page__top__imdb{
    text-align: center;
}

.movie-page__top__imdb__image{
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.movie-page__top__imdb__rating{
    vertical-align: middle;
    display: inline;
}