ion-title{
    font-size: 22px;
}

//Transparent toolbar - background image gets full width of the screen(bit buggy though)
// ion-toolbar {
//     --background: transparent no-repeat fixed center;
//     --color: black;
//     position: absolute;
//     top: 0;
//   }

ion-content{
    font-size: 16px;
}

.top-div {
    display: grid;
    height: 500px;
    color: white;
}

.top-div__poster{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 250px;
    // box-shadow: 0px 0px 1px 1px black;
}

.top-div__background{
    width: 100%;
    // position: absolute;
    position: fixed;
    z-index: -1;
    height: 500px;
    object-fit: cover; 
    filter: brightness(0.9);
    // filter: blur(5px);
    // -webkit-filter: blur(5px);
    background-color:#1d6adc;
}

.top-div{
    background:     
    linear-gradient(rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 0.6));
}

.top-div__facts{
    text-align: center;
    margin-bottom: 0;
    padding: 8px;
}

.top-div__fact{
    display: inline;
}

.top-div__fact ~ div:before{
    content:" • ";
}

.top-div__imdb{
    text-align: center;
}

.top-div__imdb__image{
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.top-div__imdb__rating{
    vertical-align: middle;
    display: inline;
}

.top-div__buttons{
    display: flex;
    justify-content: space-evenly;
    
}

ion-button {
    --border-radius: 22px;
    }

.bottom-div{
    padding: 10px;
    background: white;
}

ion-segment{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

ion-segment{
    border-radius: 22px;
    height: 40px;
    --font-size: 90px;
    color: black;
    // background: var(--ion-color-step-600);
}

ion-segment-button {
    --indicator-color: var(--ion-color-primary);
    --border-radius: 22px;
  }

  .bottom-div__available-on{
      display: inline-block;
  }

  .bottom-div__available-on--image{
      width: 65px;
      padding-right: 12px;
  }

.bottom-div__cast__carousel{
    white-space: nowrap;
    overflow-x: auto !important;
    &::-webkit-scrollbar {
        display: none;
    }
}

.bottom-div__cast--item{
    display: inline-block;
    // width: 100px;
    text-align: center;
}


.bottom-div__cast--image{
    width: 100px;
}

.bottom-div__cast--actor, 
.bottom-div__cast--character,
.bottom-div__cast--image{
    padding-right: 15px;
    font-size: 12px;

}

.bottom-div__cast-character{
    color: grey;
}


