<ion-header>
  <ion-toolbar>
    <ion-title>Send Recommendation</ion-title>
    <!-- <ion-icon class="modal-close-button" (click)="close()" name="close"></ion-icon> -->
    <ion-button (click)="close()" fill="clear" name="close" slot="end">Done</ion-button>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <p *ngFor="let item of tab4.followersArr">{{item}}</p>
</ion-content> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- <h5>{{movieTitle}}</h5> -->
      <div class="recommend__movie-container">
        <img class="recommend__movie-poster" [src]="coreMovieDetails.moviePoster">
      </div>
    </ion-row>
    <ion-row>
      <ngb-rating class="recommend__rating-slider" [(rate)]="selectedRating" (hover)="hovered=$event"
        (leave)="hovered=0" [readonly]="readonly">
        <!-- <span class="star" [class.filled]="fill === 100"
          [class.bad]="index < 3">&#9733;</span> -->
      </ngb-rating>
    </ion-row>
    <ion-row>
      <div class="recommend__rating-number">
        <h1><b>{{selectedRating}}</b></h1>
      </div>
    </ion-row>
    <ion-row>
      <ion-textarea class="global--text-area" placeholder="Enter message here..." [(ngModel)]="inputtedMessage">
      </ion-textarea>
    </ion-row>
    <ion-row>
      <h4 style="font-weight: 600;">People you Follow</h4>
    </ion-row>
    <div *ngFor="let user of inUserFollowingArrObj | async">
      <app-recommend-user-card 
      [user]="user.data" 
      [coreMovieDetails]="coreMovieDetails" 
      [senderRating]="selectedRating"
      [inputtedMessage]="inputtedMessage">
      </app-recommend-user-card>
    </div>
  </ion-grid>

</ion-content>