<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Welcome to FlickMate</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content>

  <div class="custom-splash-screen">
    <h1>Welcome to FlickMate</h1>
    <img class="custom-splash-screen--img" src="assets/registration-splash.png" width="70%">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="authService.googleSignIn()">Sign up with Google
          <ion-icon slot="start" name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="fb-button" expand="block" (click)="authService.fbLogin()">Sign up with Facebook
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" expand="block" (click)="openSignUp()">Sign up with Email
          <ion-icon slot="start" name="mail"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="already-registered">
    <u (click)="openLoginPage()">I Already have an account </u>
  </div>
</ion-content>
