<div class="profile">
  <ion-grid>
    <ion-row class="profile-card__row">
      <!-- <ion-col size="2" (click)="viewUser(user)"> -->
      <ion-col size="2">
        <ion-avatar>
          <ion-img [src]="user.photoURL"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6" class="profile-card__display-name__col">
        <h5 class="profile-card__display-name__text">{{user.displayName}}</h5>
      </ion-col>
      <ion-col size class="profile-card__follow-button__col">
        <div *ngIf="isSent; then sentButton else sendButton">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ng-template #sendButton class="profile-card__follow-button">
  <ion-button (click)="sendRecommendation(user)" value="new">Send</ion-button>
</ng-template>

<ng-template #sentButton class="profile-card__follow-button">
  <ion-button fill="outline">Sent</ion-button>
</ng-template>
