/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-segment{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border-radius: 32px;
}

ion-segment-button{
  --border-radius: 32px;
  padding: 3px;
  font-size: 16px;
}

body{
  color: var(--ion-text-color-main, black);
}

ion-button{
  --border-radius: 32px;
}

ion-back-button{
 margin-left: 8px;
}

.modal-close-button{
  margin-left: 10px;
  font-size: 30px;
}

.global--text-area{
  width: 100%;
  border: var(--ion-text-color-light-grey) 2px solid;
  margin: 20px auto;
  --padding-top:  8px;
  --padding-bottom:  8px;
  --padding-end:  8px;
  --padding-start:  8px;
  border-radius: 8px;
}

/// Profile card used in profile-card component and the recommednaiton modal
.profile-card__row{
  margin-bottom: 8px;
}

.profile-card__display-name__col{
  margin: auto 0;
}

.profile-card__display-name__text{
  margin: auto 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.profile-card__follow-button__col{
margin: auto;
text-align: right;
}

.profile-card__follow-button{
  width: 100%;
  margin-right: 0;
}

.recommend__rating-slider{
  margin: 0 auto;
  font-size: 2rem;
  color: gold;
}
.recommend__rating-slider:focus {
  outline:0 !important;
  // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.recommend__rating-number{
  margin: 0 auto;
  color: #1d6adc;
}

.add-friends-buttons{
  float: right;
  margin: auto 0;
  margin-right: 16px;
  font-size: 30px;
  vertical-align: middle;
  // line-height: 51px;
  color: var(--ion-color-primary, black);
  border-radius: 30px;
  padding: 10px;
  background-color: var(--ion-text-color-light-grey, grey);
}
